@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 1rem;
}

body {
  font-family: Montserrat;
  color: #f4f1de;
  background-color: rgb( 12, 13, 23);
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  padding-top: 1.5rem;
  background-image: linear-gradient(to right, rgb(240, 147, 251) 0%, rgb(245, 87, 108) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
}

p {
  font-weight: 600;
  font-size: 1.05rem;
}

b {
  font-weight: 600;
  font-size: 0.9rem;
}

hr {
  background-color: #f4f1de;
  height: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
}

.Monzo {
  background-image: linear-gradient(to right, #009FFF 0%, #ec2F4B 100%);
}

.rwi {
  background-image: linear-gradient(to right, #f12711 0%, #f5af19 100%);
}

.fwc {
  background-image: linear-gradient(to right, rgb(240, 147, 251) 0%, rgb(245, 87, 108) 100%);
}

.cv {
  background-image: linear-gradient(to right, #3CA55C 0%, #B5AC49 100%);
}

.twitter {
  background-image: linear-gradient(to right, #74ebd5 0%, #ACB6E5 100%);
}

.medium {
  background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 100%);
}

.itch {
  background-image: linear-gradient(to right, #0f0c29 0%, #302b63 50%, #24243e 100%);
}

@media (min-width: 576px) {
    html { font-size: 1.25rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.75rem; }
}
@media (min-width: 1200px) {
    html { font-size: 2rem; }
}
